[Desktop Entry]
Type=Application
Name=RufusQt6
Exec=/home/serge/Deploy/usr/bin/RufusQt6App
Icon=/usr/share/icons/hicolor/256x256/apps/rufus
Comment=Logiciel de gestion de cabinet d'Ophtalmologie
Categories=Office;
