*.pro.user
.DS_Store
WindowsInstaller/Output

.DS_Store
assets/.DS_Store
.DS_Store
.DS_Store
assets/.DS_Store
assets/_Diagrams/.DS_Store
assets/Fichiers/.DS_Store
Dialogs/.DS_Store
Items/.DS_Store
SingleApplication/.DS_Store
SingleApplication/.DS_Store
Items/.DS_Store
Dialogs/.DS_Store
assets/Fichiers/.DS_Store
assets/_Diagrams/.DS_Store
assets/.DS_Store
.DS_Store
